.accordion {
  &__content {
    border-bottom: 1px solid $color-e;
    font-size: $font--11;
    text-transform: uppercase;
    font-weight: $weight--600;
    color: $color-a;
    padding: 1rem;
  }

  &__label {
    font-size: $font--12;
    text-transform: uppercase;
    font-weight: $weight--600;
  }
}

.ac-container {
  @include boxRadius-4;
  overflow: hidden;
  margin-bottom: 3rem;
}

.ac-container label {
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid $color-f7;
  z-index: 20;
  display: grid;
  cursor: pointer;
  background: $color-white;
}

.ac-container label:hover {
  background: $color-f5;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  box-shadow: 0 0 0 1px $shadow-14;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px $color-primary;
  border-right: solid 2px $color-primary;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.ac-container input:checked + label:hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.ac-container input {
  display: none;
}

.ac-container article {
  background-color: $color-f9;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
}

.ac-container input:checked ~ article {
  height: 100%;
}
